  <%# グローバルメニュー %>
  <ul class="nav nav-tabs navbar-fixed-top backcolor_white padding_top10">
    <li class="navbar offset2 <%= params[:controller] == 'top' ? 'active' : '' %>"><%= link_to Settings.app_name, :root, class: "brand" %></li>
    <% unless session[:user_id].blank? %>
      <%# ログイン済み %>
      <li><%= link_to_unless( current_user.screen_name.blank?, image_tag( current_user.image, size: "18x18", class: "margin0" ), "#{Settings.provider_page}#{current_user.screen_name}", target: "_blank" ) %></li>
      <li class="<%= params[:controller] == 'controllers' ? 'active' : '' %>"><%= link_to( "controllers", { controller: "controllers" } ) %></li>
      <li><%= link_to( "Logout", logout_path ) %></li>
    <% else %>
      <%# 未ログイン %>
      <li><%= link_to "Login", "/auth/#{Settings.provider}" %></li>
    <% end %>
  </ul>

  <div class="container">

  <div class="margin_top50"><div>

  <%# 通知／エラーメッセージ %>
  <%= simple_format( flash[:notice], style: "color: green;" ) unless flash[:notice].blank? %>
  <%= simple_format( flash[:alert], style: "color: red;" ) unless flash[:alert].blank? %>

  <%= yield %>

  <br />
  <br />

  <center>
    Developed by <a href="https://twitter.com/#!/<%= Settings.programmer_twitter_id %>/" target="_blank">@<%= Settings.programmer_twitter_id %></a>,
    Designed by <a href="https://twitter.com/#!/<%= Settings.designer_twitter_id %>/" target="_blank">@<%= Settings.designer_twitter_id %></a>,
    Licence by <a href="https://creativecommons.org/licenses/by-nc-sa/2.1/jp/" target="_blank">CC BY-NC-SA 2.1</a>
  </center>

  <br />

  </div>